<div class="container">
    <h4 class="title"><small><b>{{title}}</b></small></h4>

    <hr>
    <form class="form" [formGroup]="form">
        <div class="form-group">
            <select type="number" placeholder="Select quiz type"
                class="form-control" formControlName="quiz_type"
                required>
                <option [ngValue]="null">--Select quiz type--</option>
                <option value="OPEN_ENDED">Open ended</option>
                <option value="CLOSED">Closed</option>
            </select>
        </div>
        <div class="form-group">
            <textarea type="text" placeholder="Enter question"
                class="form-control" formControlName="question"></textarea>
        </div>
        <div class="form-group">

            <textarea type="text" placeholder="Describe the question"
                class="form-control" formControlName="description"
                required></textarea>

            </div>
            <!-- <div class="form-group">
                <input type="number" placeholder="Enter question number"
                    class="form-control" formControlName="question_number"
                    required>

            </div> -->

            <div class="form-group">

                <input type="number" placeholder="Enter maximum score"
                    class="form-control" formControlName="max_score"
                    required>

            </div>

        </form>
        <hr>
        <button mat-raised-button (click)="close()" class="btn-default cancel">CANCEL</button>
        <button mat-raised-button (click)="onSubmit()" class="btn-default btn-submits
            pull-right">SUBMIT</button>
    </div>
