<!-- <div widget class="mat-elevation-z4"> -->

   
        <div class="card-body widget-body">
            <div class="w">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="interviews" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    
    