<div class="row">
    <div class="col-md-3">
<app-view-interview-details></app-view-interview-details>
    </div>
    <div class="col-md-9">
      
          <br>
          <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z1">
          
            <mat-tab label="INTERVIEWEES">
                <app-list-interviewees-tab></app-list-interviewees-tab>
            </mat-tab>
            <mat-tab label="PANELISTS">
                <app-list-panelists-tab></app-list-panelists-tab>
            </mat-tab>
            <mat-tab label="STAGES">
                <app-interview-stages></app-interview-stages>
            </mat-tab>
            <mat-tab label="JOB LISTING">
                <app-job-listing></app-job-listing>
            </mat-tab>
           
          </mat-tab-group>
    </div>
    
</div>