<div class="row">

    <div class="col-md-12 right-partition">
        <div class="text-top">
            <h3> <b>List of Interviewees</b></h3>
            <small>create and remove interviewee</small>
            <button (click)="openIntervieweesDialog($event, 'create')"
                mat-raised-button class="btn-default pull-right
                create-panelist"><span class="fa fa-plus"></span> Add
                Interviewee</button>
            <br> <br>
           
        </div>
        <div class="mat-elevation-z1">
            <ng2-smart-table [settings]="settings" [source]="data"
                (custom)="onCustomAction($event)"></ng2-smart-table>
        </div>
    </div>
</div>