<div class="container">
    <h4 class="title"><small><b>{{quiz.data.question}}</b></small></h4>
    <mat-radio-group *ngIf="quiz.data.options" aria-label="Existing options">
        <mat-radio-button *ngFor ="let quiz of quiz.data.options" value="">{{quiz.option_text}}</mat-radio-button>
      </mat-radio-group>
    <hr>
        <form class="form" [formGroup]="form">
            <div class="form-group">

                <textarea type="text" placeholder="Enter Option label/text"
                    class="form-control" formControlName="option_text"></textarea>
               
            </div>

            <div class="form-group">
                <input type="number" placeholder="Enter option order"
                    class="form-control" formControlName="order"
                    required>
                
            </div>
           
            <div class="form-group">

                <input type="number" placeholder="Enter option score"
                    class="form-control" formControlName="score"
                    required>
               
            </div>
          
        </form>
        <hr>
        <button mat-raised-button (click)="close()" class="btn-default cancel">CANCEL</button>
        <button mat-raised-button (click) ="onSubmit()" class="
            btn-default submit pull-right btn-submits">SUBMIT</button>
</div>