<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br><br>
        <div routerLink="/main/profile"
            class="card-form">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7 col-sm-12">
                   
                    <section class="sect-text">
                        <b> Profile</b> 
                        <!-- <small>Create and manage the Interviewee for an interview</small> -->
                    </section>
                </div>
                <div class="col-md-4">
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-chevron-right chev-form pull-right"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6
                            6a.5.5
                            0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8
                            4.646
                            2.354a.5.5
                            0
                            0 1 0-.708z"
                            />
                        </svg>
                    </div>
                </div>
            </div>
            <!-- ======================= -->
            <div
               
                routerLink="/main/config/locations"
                class="card-form">
                <div class="row">
                    <div class="col-md-1">
               
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <section class="sect-text">
                            <b> Location</b> 
                            <!-- <small>Create and manage the Interviewee for an interview</small> -->
                        </section>
                    </div>

                    <div class="col-md-4">
                        <svg
                            width="1em"
                            height="1em"
                            viewBox="0 0 16 16"
                            class="bi bi-chevron-right chev-form pull-right"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6
                                6a.5.5
                                0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8
                                4.646
                                2.354a.5.5
                                0
                                0 1 0-.708z"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                   
                    routerLink="/main/interviews/list/interviews"
                    class="card-form">
                    <div class="row">
                        <div class="col-md-1">
                            <!-- <img
               *ngIf="!formImg"
               src="assets/inactive_form.png"
               height="60px"
               alt=""
             /> -->
                            <!-- <img *ngIf="formImg" src="assets/forms.png" height="60px" alt="" /> -->
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <section class="sect-text">
                                <b> Other </b> <br />
                                <!-- <small>Create and manage the Interviewee for an interview</small> -->
                            </section>
                        </div>

                        <div class="col-md-4">
                            <svg
                                width="1em"
                                height="1em"
                                viewBox="0 0 16 16"
                                class="bi bi-chevron-right chev-form pull-right"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6
                                    6a.5.5
                                    0 0 1 0 .708l-6 6a.5.5 0 0
                                    1-.708-.708L10.293 8
                                    4.646
                                    2.354a.5.5
                                    0
                                    0 1 0-.708z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
