<div class="container">
    <h2><b><small>{{title}}</small></b></h2>
    <hr>
    <!-- <div class="col-md-4"></div> -->
    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
            <input type="text" placeholder="Exam name"
                class="form-control" formControlName="exam_name"
                required>
        </div>
     
        <div class="form-group">
            <textarea type="text" placeholder="Description"
                class="form-control" formControlName="description"
                required></textarea>
        </div>
        <hr>
        <button type="button" mat-raised-button (click)="close()"
            class="btn-default">Cancel</button>
        <button mat-raised-button *ngIf="_data.mode"  type="submit"
          (click)="create()"  class="btn-default btn-submits pull-right">Submit</button>
        <button (click)="edit()"*ngIf="!_data.mode" mat-raised-button  type="submit"
            class="btn-default btn-submits pull-right">Save changes</button>
    </div>
</div>