<div class="container">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step>
            <h4 class="title"><small><b>{{title}}</b></small></h4>
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <!-- <div class="row"></div> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" placeholder="Interview name" class="form-control"
                                formControlName="interview_name" required>
                            <small class="text-danger" *ngIf="form.get('interview_name').touched &&
                                form.get('interview_name').hasError('required')">Field
                                is
                                required</small>
                        </div>
                    </div>
                    <!-- <div class="input-group mto-date col-md-6">
                        <input class="form-control" id="date" formControlName="start_date" ngbDatepicker
                            #s="ngbDatepicker" [value]="">
                        <div class="input-group-append" (click)="s.toggle()">
                            <span class="input-group-text start"><i class="fa
                                    fa-calendar"></i></span>
                        </div>
                        <small class="text-danger" *ngIf="form.get('date').touched &&
                            form.get('date').hasError('required')">Field
                            is
                            required</small>
                    </div> -->
                    <!-- <div class="input-group mto-date col-md-4">
                        <input class="form-control" id="end_date"
                            formControlName="end_date" ngbDatepicker
                            #e="ngbDatepicker">
                        <div class="input-group-append" (click)="e.toggle()">
                            <span class="input-group-text end"><i class="fa
                                    fa-calendar"></i></span>
                        </div>
                        <small class="text-danger"
                            *ngIf="form.get('date').touched &&
                            form.get('date').hasError('required')">Field
                            is
                            required</small>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select type="text" placeholder="Select location" class="form-control"
                                formControlName="location_id" required>
                                <option [value]="null">--Select meeting room--</option>
                                <option *ngFor="let location of locations" [value]="location.location_id">
                                    {{location.location_name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="form.get('location_id').touched &&
                                form.get('location_id').hasError('required')">Field
                                is
                                required</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" placeholder="Time duration in
                                minutes" class="form-control" formControlName="session_length" required>
                            <small class="text-danger" *ngIf="form.get('session_length').touched &&
                                form.get('session_length').hasError('required')">Field
                                is
                                required</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Select interview date</mat-label>
                                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Interview date" formControlName="start_date"
                          [min]="minDate" [max]="maxDate" [disabled]="disabled">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                        [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                        [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                  </div>
                    <!-- <div class="input-group mto col-md-6">
                        <label for="">Start date</label>
                        <br>
                        <input class="form-control" id="date" formControlName="date" ngbDatepicker #p="ngbDatepicker">
                        <div class="input-group-append" (click)="p.toggle()">
                            <span class="input-group-text input-interview-date"><i class="fa
                                    fa-calendar"></i></span>
                        </div>
                        <small class="text-danger" *ngIf="form.get('date').touched &&
                            form.get('date').hasError('required')">Field
                            is
                            required</small>
                    </div> -->
                    <!-- <div class="col form-group col-md-6">
                        <label for="">Time</label>
                        <ngb-timepicker id="time_int" formControlName="time" [seconds]="seconds"></ngb-timepicker>
                        <small class="text-danger" *ngIf="form.get('time').touched &&
                        form.get('time').hasError('required')">Field
                            is
                            required</small>
                    </div> -->

                </div>
                <!-- <div class="form-group">
            <label>Description</label>
            <markdown-editor [control]="descriptionControl"></markdown-editor>
          </div> -->
                <div class="form-group">
                    <textarea type="text" placeholder="Description" class="form-control" formControlName="description"
                        required></textarea>
                </div>
                <div class="form-group">
                    <!-- <editor
                        formControlName="description"
                        apiKey="6a9arub7iubeai78h89vrzwhup7o315s15uc33h89v7gwkgd"
                        [init]= 'init'></editor>
                         -->
                    <!-- <mat-markdown-editor
                        [(ngModel)]="description"
                        [ngModelOptions]="{standalone: true}"
                        [options]="options"
                        
                        maxlength="500"
                        required> </mat-markdown-editor> -->

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button type="button" (click)='close()'
                            class="btn-defaul pull-left">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button mat-raised-button type="submit" *ngIf="!add_listing_option"
                            class="btn-default btn-submits pull-right">Submit</button>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <div class="form-group">
                            <section class="example-section">
                                <mat-checkbox color="primary" *ngIf="submitted" (change)="toggleJobListing($event)"
                                    class="example-margin">Add job listing to this interview ?
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>
                </div>


                <!-- <button mat-raised-button *ngIf="add_listing_option"
                    class="btn-default btn-submits pull-right">List a job</button> -->
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <button class="btn-default btn-submits pull-right" type="button" *ngIf="add_listing_option"
                    mat-raised-button matStepperNext>List
                    a job</button>
            </form>
        </mat-step>
        <mat-step>
            <h5><b>Create job</b></h5>

            <form [formGroup]="jobForm">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" placeholder="Job title" class="form-control" formControlName="job_title"
                                required>
                            <small class="text-danger" *ngIf="jobForm.get('job_title').touched &&
                                jobForm.get('job_title').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Job Field" class="form-control" formControlName="job_field"
                                required>
                            <small class="text-danger" *ngIf="jobForm.get('job_field').touched &&
                                jobForm.get('job_field').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <!-- <label for="">Application end date</label> -->
                            <div class="input-group mto-date application_end_date ">
                                <input class="form-control" id="date" formControlName="application_end_date"
                                    ngbDatepicker #sd="ngbDatepicker">
                                <div class="input-group-append" (click)="sd.toggle()">
                                    <span class="input-group-text start"><i class="fa
                                            fa-calendar"></i></span>
                                </div>
                                <small class="text-danger" *ngIf="jobForm.get('application_end_date').touched &&
                                    jobForm.get('application_end_date').hasError('required')">Field
                                    is
                                    required</small>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <select type="text" placeholder="Job type" class="form-control" formControlName="job_type"
                                required>
                                <option [ngValue]="null">--Select
                                    job type--</option>
                                <option value="FULL_TIME">Full time</option>
                                <option value="PART_TIME">Part time</option>
                                <option value="Contract">Contract</option>
                                <option value="others">Others</option>
                            </select>
                            <small class="text-danger" *ngIf="jobForm.get('job_type').touched &&
                                jobForm.get('job_type').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Job location" class="form-control"
                                formControlName="work_location" required>
                            <small class="text-danger" *ngIf="jobForm.get('work_location').touched &&
                                jobForm.get('work_location').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Role" class="form-control" formControlName="role" required>
                            <small class="text-danger" *ngIf="jobForm.get('role').touched &&
                                jobForm.get('role').hasError('required')">Field
                                is
                                required</small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <select type="text" placeholder="Job Categoty" class="form-control"
                                formControlName="category_id" required>
                                <option [ngValue]="null">--Select job category--</option>
                                <option *ngFor="let cat of category" [ngValue]="cat.category_id">{{cat.category_name}}
                                </option>
                            </select>
                            <small class="text-danger" *ngIf="jobForm.get('category_id').touched &&
                                jobForm.get('category_id').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Mininum salary" class="form-control"
                                formControlName="min_salary" required>
                            <small class="text-danger" *ngIf="jobForm.get('min_salary').touched &&
                                jobForm.get('min_salary').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Maximum salary" class="form-control"
                                formControlName="max_salary" required>
                            <small class="text-danger" *ngIf="jobForm.get('max_salary').touched &&
                                jobForm.get('max_salary').hasError('required')">Field
                                is
                                required</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Job qualifications</label>
                            <textarea type="text" placeholder="Job qualifications" class="form-control"
                                formControlName="qualifications" required></textarea>
                            <small class="text-danger" *ngIf="jobForm.get('qualifications').touched &&
                        jobForm.get('qualifications').hasError('required')">Field
                                is
                                required</small>
                        </div>
                        <br>
                    </div>
                    <div class="col-12">
                        <label for="">Job description</label>
                        <div class="form-group">
                            <textarea placeholder="Describe job" class="form-control" formControlName="description">
                            </textarea>
                        </div>

                    </div>
                </div>
            </form>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="submitInterviewJob()" *ngIf="add_listing_option"
                class="btn-default btn-submits pull-right">Submit</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>