<div class="container">
  <p class="instructions">
      <span class="title"><h5><b>Pre interview instructions</b></h5>
    <hr>
    </span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus laborum deleniti laboriosam nihil libero minus quae explicabo nam aperiam assumenda debitis praesentium, consequuntur atque autem nobis ipsa, accusantium doloribus dolores.
  </p>
<button mat-raised-button (click)="startActualInterview()" class="start_button btn-submits">Start interview <span class="fa fa-arrow-right"></span></button>
<br>
</div>