mat-form-field{
    width: 100%;
}
.submit, .cancel{
 border-radius: 50px;
 background-color: #192c43;
 color: #aec9f1;

}
.cancel{
    background-color: #d3d3d3;
    color: #ffffff !important;
}

.title{
    color: #136eb6;
    text-transform: uppercase;
}

