
button.btn-block{
    color: aliceblue;
    background-color: #003e4d !important;
}
button.pull-rights{
    color: aliceblue;
    background-color: #6ec000 !important;
}
.preview-img{
    float: center;
    height: 200px !important;
    border-radius: 50% !important;
    align-content: center !important;
    margin-left: 30%;
}