<div class="row">
    <div class="col-md-3">
        
<div class="card-form">
   
    <b> Interview Details
        <button class="pull-right" mat-raised-button
            routerLink="/main/interviews/list/interviews"> <span
                class="fa fa-arrow-left"></span> Back</button>
        <br>
    </b> <br>
    <section class="section">
        <hr>
        <small><b>Name </b>{{interview_details.interview_name}}</small>
        <hr>
        <small><b>Room </b> {{interview_details.location_name}}</small>
        <hr>
        <small><b>Room code</b> {{interview_details.interview_name}}</small>
        <hr>
        <small><b>Description</b> {{interview_details.description}}</small>
        <hr>
        <small><b>Date </b>{{interview_details.start_date |
            date:'short'}}</small>
        <hr>
        <small *ngIf="interview_details.completed"><b>Status </b> <span
                class="badge badge-secondary"> completed</span></small>
        <small *ngIf="!interview_details.completed"><b>Status </b> <span
                class="badge badge-success"> not done</span></small>
                <hr>
                <!-- <button
                mat-raised-button
                color="primary"
                (click)="openQuestions(interview_details)"
                class="btn-submits">
                Questions
            </button> -->
    </section>
</div>

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <!-- -->
                <br>
                <b> Interviewees
                    <!-- <button
                        mat-raised-button
                        color="primary"
                        (click)="addInterviewee($event)"
                        class="pull-right btn-submits">
                        Add Interviewee
                    </button> -->
                    <hr>
                </b>
            
        
                <div class="des">
                    <ng2-smart-table [settings]="settings" [source]="interviewees"
                        (custom)="onCustomAction($event)"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>